/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Working on Iphone XR Design  */

/* General */
body {
  background-color: #000;
  width: 100vw;
  height: 100vh;
  font-size: 12px;
}

.web-app-top {
  display: flex;
  height: calc(100% - 100px);
}

aside {
  width: 10vw;
  /* padding-top: 10px; media  */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  overflow-y: hidden;
  z-index: 1;
}

main {
  width: 90vw;
  background-color: #141922;
  overflow-y: auto;
}

footer {
  height: 100px;
  width: 100%;
  background-color: #282828;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #6a6a6a;
}

/* Utilities */

#active {
  display: block;
}

.none {
  display: none;
}

.opacity {
  opacity: 0.5;
}

/* ASIDE */
.logo {
  width: 80%;
  padding-left: 20px;
}

.logo-small {
  width: 25px;
}

.aside-nav li {
  padding-top: 10px;
  /* padding-left: 20px; media */
  color: #6a6a6a;
}

/* home */
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home li {
  display: flex;
  align-items: center;
}

.home li span,
.profile span {
  display: none;
}

.home .active {
  border-left: 2px solid #adff2f;
  color: #fff;
}

.home .active img {
  opacity: 0.8;
}

.home img {
  width: 60%;
  margin-left: 5px;
  /* media 
  margin-left 10px */
}

/* Playlist */
.playlist h3 {
  text-transform: uppercase;
  color: #fff;
}

.new-playlist button {
  padding: 5px;
  margin-right: 3px;
}

.new-playlist i {
  font-size: 1.3em;
}

/* aside nav bot */

/* .aside-end {
  padding-left: 20px; media 
} */

.download img {
  display: block;
  width: 40%;
  margin: 0 auto;
}

.profile {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

.profile img {
  background-color: #6a6a6a;
  border-radius: 50%;
  width: 60%;
  margin: 0 auto;
}

.account span {
  vertical-align: middle;
  color: #fff;
}

/* MAIN */

/* cta */
.cta {
  text-align: right;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  padding: 20px 10px 20px 0;
}

.cta a {
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 10px 30px;
}

/* hero */

.hero {
  margin-top: 60px;
  padding: 20px 10px;
}

/* hero-nav */
.hero-nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.hero-nav li {
  padding: 0px 10px 30px 5px;
  text-transform: uppercase;
}

.hero-nav li hr {
  display: none;
  width: 20%;
  border-color: #adff2f;
  margin: 0 auto;
}

/* hero-album */
.hero-album h2 {
  color: #fff;
  width: 100%;
  padding: 5px 0;
}

.card-container {
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  flex-basis: 50%;
  padding-right: 10px;
  padding-bottom: 10px;
}

.card img {
  width: 100%;
}

.card-text {
  text-align: center;
  color: #fff;
}

.card-text h5 {
  padding: 10px 5px;
}

.card-text h6,
.hero-album h6 {
  color: #6a6a6a;
}

/* FOOTER */
/* foot left */
.foot-left {
  display: flex;
  vertical-align: middle;
  justify-content: space-between;
  padding: 10px;
  flex-basis: 30%;
}

.foot-left div {
  width: calc((100% / 3) - 20px);
}

.left-img img {
  width: 30px;
  height: auto;
}

.left-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.left-text h6,
.left-icon {
  color: #5a5a5a;
}

.left-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.foot-mid {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  justify-content: center;
  padding: 10px;
}
.mid-icon {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.mid-bar {
  display: flex;
  align-items: center;
}

.bg-bar {
  width: 80%;
  height: 5px;
  background-color: #5a5a5a;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.progression {
  width: 20%;
  height: 5px;
  background-color: #c1c1c1;
  border-radius: 5px;
}

.foot-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 30%;
}

.foot-right i {
  padding: 0 5px;
}

.volume {
  width: 50%;
  height: 5px;
  border-radius: 5px;
  background-color: #5a5a5a;
  display: flex;
  align-items: center;
}

.volume div {
  width: 20%;
  height: 5px;
  background-color: #c1c1c1;
  border-radius: 5px;
}
